<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:11:25Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Swift</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:11:41Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>xcode</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Swift</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Xcode_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:11:42Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Xcode</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Xcode_Shortcuts</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>git/git</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:13:51Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>git/git</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>git/git</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Ionic_Offline</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:16:25Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Ionic Framework</string>
					</array>
					<key>name</key>
					<string>Ionic (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>Ionic_Offline</string>
				</dict>
			</dict>
			<key>Ionic_Online</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:13:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Ionic Framework</string>
					</array>
					<key>name</key>
					<string>Ionic (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Ionic_Online</string>
				</dict>
			</dict>
			<key>Swift_Online</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:13:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>iphone</string>
						<string>ipad</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>leopard</string>
						<string>snow leopard</string>
						<string>lion</string>
						<string>mountain lion</string>
						<string>mavericks</string>
						<string>10.8</string>
						<string>10.6</string>
						<string>10.7</string>
						<string>10.9</string>
						<string>10.5</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa</string>
						<string>macosx</string>
						<string>mac osx</string>
						<string>mac os x</string>
					</array>
					<key>name</key>
					<string>Swift (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Swift_Online</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWebViewIsDark</key>
	<true/>
	<key>bookmarks</key>
	<array>
		<dict>
			<key>path</key>
			<string>https://stackoverflow.com/questions/24551816/swift-encode-url#</string>
			<key>platformImagePath</key>
			<string>soonline</string>
			<key>title</key>
			<string>ios - Swift - encode URL - Stack Overflow</string>
			<key>typeImagePath</key>
			<string>Bookmark</string>
		</dict>
	</array>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Angular.xml</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:17:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:17:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:09:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:34:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Cordova.xml</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:10:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:16:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ionic.xml</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:13:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2019-03-11T10:14:10Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
